html{
    font-size: 14px;
   -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto','Open Sans',sans-serif;
    margin: 0;
    line-height: 1.5;
    background-color: #fff;
}
html, body{
    background-color: #f9f9f9;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*{
    -moz-box-sizing: preserv-3d;
    box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }
h1{
    font-size: 2em;
    margin: .67em 0;
}
.addToBorder{
    border: 1px solid #0000FF;
}

header{
    margin: 0 -10px 0 -10px;
    padding: 31px 10px 0px 10px;
    background-color: #F9F9F9;/*  #0E30C5; rgba(14,48,197,0.78);*/
    position: relative;
}

.header-wrapper {
    display:block;
    max-width:940px;
    height: 41px;
    margin:0 auto;
    clear: both;
    border-bottom: 1px solid #34F51B;
    position: relative;
     -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-wrapper .logo{
    display: inline-block;
    margin-top:-6px;
    margin-left:0px;
    margin-bottom:0px;
    width: 160px;
    padding-right:10px;
}

.quickseparetor{
    width:20px;
    height:28px;
    display:inline-block;
    margin-left:6px;
    padding-right:10px;
    position:relative;
    border-right:1px solid #34F51B;
}
.header-wrapper .under-block{
    display:inline-block;
    width:740px;
    height:100%;
    position: relative;
}

ul {
	list-style-type: none;
    padding:0;
}
ul li {
    padding: 1px 0;
}
#horizontal-nav {
    display: inline-block;
    margin: 0 auto 0 auto;
    overflow:visible;
    padding-top:5px;
    z-index:3;
    color: #479AB8;
    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    width: 520px;
    left:50px;
    right: 0;
    position: absolute; 
}
.horizontal-nav-wrapper {
    min-width: 100%;
    position:relative;
}
#horizontal-nav nav{
    padding: 0;
    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    
}
#horizontal-nav nav dl dt{
    display: inline-block;
    margin-left: 51px;
    border-left: 2px solid transparent;
    font-weight: 700;
    max-width: 170px;
    padding: 0;
    cursor: pointer;
    text-align: left;
}
#horizontal-nav nav dl dt:first-child{
    margin-left: 0;
}
.horizontal-nav-wrapper dl {
    display: block;
    margin: 0;
    line-height:1.5;
}
#horizontal-nav nav dt:focus{
    background-color: transparent;
    outline: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
#horizontal-nav nav span.ui-item-disc{
    display:inline-block;
    background: transparent center center no-repeat;
    background-size: 26px 26px;
    text-indent: -9999px;
    border: 0;
    height: 19px;
    overflow:hidden;
    width:26px;
    border-radius: 50%;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.26);
    margin-right: 12px;
}
#horizontal-nav dd {
    display: block;
}
#horizontal-nav .pannell{
    display: none;
    top: 35px;
    left: 0;
    right:0;
    width: 190px;
    margin: 0;
    background-color: #f9f9f9;/* #D9E1E2;  #0E30C5;*/
    border-top: 2px solid transparent;
    padding: 35px 0 9px 0;
    z-index: 3;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.1, 1);
    position:absolute;
}
#horizontal-nav nav #pannel3{
    left: 8%;
    border-top-color:#CF13B5;
    color:#CF13B5;
}
#horizontal-nav nav #pannel4{
    left: 35%;
    border-top-color:#E3670E;
    color:#E3670E;
}
#horizontal-nav .pannell::before, #horizontal-nav .pannell::after{
    content: '  ';
    height: 0;
    width: 0;
    border: 10px solid transparent;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#horizontal-nav .pannell::before{
    left: 85px;
    top: -18px;
    position: absolute;
    border-bottom-color:#F9F9F9;
    z-index: 3;
}
 #horizontal-nav .pannell::after{
    left: 85px;
    top: -21px;
    position: absolute;
    border-bottom-color:black;
    z-index: 2;
}
#horizontal-nav #pannel3::after{
    border-bottom-color:#CF13B5;
}
#horizontal-nav #pannel4::after{
    border-bottom-color:#E3670E;
}
#horizontal-nav .place-nav-pannel{
    display: inline-block;
    border-left: 2px solid transparent;
    padding: 0 32px 12px 32px;
    font-weight: 700;
    visibility:hidden;
}
#horizontal-nav nav a{
    display: block;
    border-left: 2px solid transparent;
    padding:9px 7px 10px 8px;
    white-space: nowrap;
    font-size:0.95em;
    font-weight:400;
}
#horizontal-nav nav dt:hover + [role="tabpanel"],#horizontal-nav nav .pannell:hover{
    display: block;
    opacity: 1.0;
}
i[class^="icon-"]{
    margin-left: 10px;
    margin-right: 0;
    cursor: default;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dt i {
    cursor: pointer;
}
i[class^="icon-"]::before{
    display: inline-block;
    text-decoration: none;
}
.icon-caret-down::before{
    content: "\f0d7";
}
.icon-check::before{
    content:'\f00c';
    margin-right:8px;
}
.left-icon{
    margin-right:8px;
    width:18px;
}
.search{
    position: absolute;
    width:50px;
    height:28px;
    display:inline-block;
    margin-top:-3px;
    margin-bottom:7px;
    overflow:hidden;
    z-index:2;
    right:0px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;

}
.search #search-ic{
    display:inline-block;
    width:50px;
    height:28px;
    font-size:1.5em;
    font-weight:200;
    line-height:1.5;
    color: #ccc;
}
.search-inner{
    width:245px;
}
.search form {
    margin-top: 2px;
    margin-bottom:15px;
    width:162px;
    display: inline-block;
}
#search-google{
    font-weight:normal;
}
.search form input {
    color:#2f2f2f;
    font-size: 0.95em;
    width:178px;
    border: none;
    margin-left:6px;
    z-index:2;
    position: relative;
    background-color:transparent;
    border-bottom:1px solid #ccc;
    padding: 0 0 0 4px;
    outline: none;
    height: 20px;
}
.search .left, .search .right{
    position:absolute;
    height:5px;
    width:1px;
}
.search .left{
    top: 23px;
    left: 57px;
    background-color: #ccc;
}
.search .right{
    top: 23px;
    left: 237px;
    background-color:#ccc;
}
.search:hover #search-ic{
    color:#09c;
}
.search:hover form input{
    border-bottom:1px solid #09c;;
}
.search:hover .left, .search:hover .right{
    background-color:#09c;
}
.search:hover,.search.active{
    width:245px;
}
::-moz-selection{
    background-color: #09c;
    color:#fff;
}

::selection{
    background-color: #09c;
    color:#fff;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
}


button {
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-transform: none;
    padding: 1px 6px;
}

.clubSandwich-button{
    background: transparent center center no-repeat;
    background-size: 24px 24px;
    border: 0;
    display: none;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    top: 8px;
    width: 48px;
    z-index:2;
    position:fixed;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clubSandwich-button {
    background-image: url("clubSandwich2.svg");
    left: 12px;
}
.footer-grid{
    width:940px;
    margin: 0 auto;
    clear:both;
    border-top:1px solid #ccc;
    padding-top:10px;
}
.place-space{
    height:30px;
}
#pOne-16{
    float: right!important;
}
.fb-like-conteiner,.plusone-container,.twitter-follow-container{
    margin:0;
    text-align:right;
    float:right;
}
.plusone-container.col-2{
    width:100px;
    margin:5px 0 0;
}
.fb-like-conteiner.col-2, .twitter-follow-container.col-2{
    width:120px;
    margin: 5px 0 0;
}

footer{
    font-size:11px;
    clear: both;
    width: 100%;
    color: #999;
    margin-top: -40px;
    padding:15px 0;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .footer-grid{
    border:none;
}




a{
    color: #045753;
    text-decoration: none;
    background: transparent;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    cursor: pointer;

}

img {
    vertical-align: middle;
    margin: 0;
    max-width: 100%;
    border: 0;
}

a:active, a:hover, a:focus {
    outline: 0;
}

#side-nav {
    bottom: 0;
    display:block;
    width: 240px;
    left: 0;
    top: 0;
    color: #333;
    background: #fff;
    box-shadow:0.6px 0px 5px rgba(0,0,0,0.26);
    border-right: 1px solid rgba(0,0,0,0.14);
    z-index: 4;
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.side-nav-wrapper {
    min-height: 100%;
    padding-bottom: 96px;
    position: relative;
}

#side-nav #logo{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    height: 64px;
    position: relative;
    margin: auto;
    padding: 12px 24px 10px 24px; 
}

#side-nav nav{
    font-size: 13px;
    padding: 12px 0 10px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
nav dt:focus{
	background-color:#eee;
	outline: 0;
}

#side-nav nav .pannel  dd {
    margin-top: -99px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: margin-top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
#side-nav nav dl dt {
	border-left: 2px solid transparent;
	color: #333;
	font-weight: 700;
	margin-top: 0;
	padding: 15px 0 15px 22px;
	cursor: pointer;
}

dl{
	line-height: 1em;
}
dt{
	display: block;
}
dl dd {
    margin:0;
}
#side-nav nav a.nav_selected{
	color: #C13B3B;
	font-weight:500;
	letter-spacing: 0.1px;
}
#side-nav nav a{
	border-left: 2px solid transparent;
	display: block;
	padding: 10px 24px 10px 46px;
	white-space: nowrap;
}



.side-nav-wrapper .legal {
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    color: #212121;
    font-size: 13px;
    height: 96px;
    line-height: 24px;
    padding:24px;
    position: absolute;
    width: 100%;
}
.side-nav-wrapper .license{
    margin: 0;
}
hr{
    height:1px;
    margin:3px 0 12px;
    border:0;
    background:#ccc;
}

#grid-cont{
    background: #f9f9f9;
    float: left;
    height: 100%;
    padding-bottom: 100px;
    padding-top:80px;
    width: 100%;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#grid-cont .grid_outer {
    margin: auto;
    width: 1160px;
}
#grid-cont #blockTop{
    display:block;
    margin:0 auto;
    width:940px;
    float:none;
    clear: both;
}
#grid-cont #landing-block{
    display: block;
    width: 100%;
    margin-top:20px;
    clear:both;
}
#grid-cont #block-center{
    display: block;
    width:100%;
    min-height:1px;
    margin-top:20px;
    background:#F9F9F9;
    clear:both;
   }
#grid-cont .action-bar-wrapper{
    width:940px;
    height:115px;
    margin:0 auto;
}
#grid-cont .landing-block-wrapper{
    margin:0 auto;
    width:940px;
    background: #F9F9F9;/*#f4f7f8;*/
    overflow: hidden;
    padding:80px 0;
}
.action-bar-wrapper .action-item-wrapper{
    display: block;
    float: left;
    height:100%;
    width:48%;
    overflow:hidden;
    position:relative;
    margin:0 14px 20px 0;
    border-radius:1px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.12);
    background-color:fefefe;
}
.landing-block-wrapper #history-block,.landing-block-wrapper #newsEvent-block,
.landing-block-wrapper #location-block{
    width:100%;
    position:relative;
    padding: 0;
    clear:both;
}
.landing-block-wrapper #newsEvent-block h2 i,
.landing-block-wrapper #history-block h2 i,.landing-block-wrapper #location-block h2 i{
    font-size: 2.3em;
    color: #ABACBA;
    margin-right:18px;
}
.landing-block-wrapper #newsEvent-block h2,
.landing-block-wrapper #history-block h2,.landing-block-wrapper #location-block h2{
    line-height:2.0;
    font-size:22px;
    letter-spacing:7px;
    color:rgba(71, 154, 184, 1);
    position:relative;
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.col-1{
    display:inline;
    float:left;
    width:562px;
    margin-top:9px;
    margin-left:10px;
}
.col-2{
    width:302px;
    display:inline;
    float:right;
    margin-top:50px;
    margin-left:0;
    margin-right:10px;
    max-height:100%;
}
.col-2-abs{
    max-width:333px;
    display:inline-block;
    position:absolute;
}
.news-wrapper .col-1{
    height:244px;
    border:1px solid #ccc;
    background-color:#f9f9f9;
    border-radius:4px;
    box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2),0px 1px 0px #fff;
    font-size:1.05em;
    line-height:2.0;
    font-weight:400;
    overflow-y:scroll;
}
.news-wrapper h3::before{
    display:inline-block;
    width:20px;
    height:10px;
    background-color:rgb(111,210,234);
    border:1px solid rgb(224,224,228);
    margin-right:6px;
    right:0;
    top:1px;
    position:relative;
    content:" ";
    border-top-left-radius:15px;
}
.news-wrapper .col-1::-webkit-scrollbar{
    width:6px;
    height:1px;
}

.news-wrapper .col-1::-webkit-scrollbar-thumb{
    height: 6px; 
    background-color:rgba(236, 218, 36, 0.33);
    border-radius:1px;
}
.news-wrapper .col-1::-webkit-scrollbar-track{
    background-color:#999;

}
.news-wrapper .col-1::-webkit-scrollbar-track-piece{
    background-color:#ccc;

}

.news-wrapper img {
    margin-bottom:10px;
}
#newsEvent-block .news-wrapper{
    height:100%;
    position: relative;
}
#history-block::before{
    content:'&nbsp;';
    display: block;
    margin-top:0;
    min-height:48px;
    visibility:hidden;
}
.history-wrapper .col-1,.location-wrapper .col-1{
    min-height: 344px;
    padding:10px 70px 0px 40px;
    line-height:2.1;
    font-weight:300;
    font-size:1.15em;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-bottom-right-radius: 3px;
}
.history-wrapper .col-2 p{
    font-weight:600;
    font-size:0.80em;
    line-height:0.95;
    text-align:center;
    padding-right:40px;
}
.block-center-wrapper  h3{
    font-weight: 700;
    font-size: 1.05em;
    position: relative;
    margin-bottom: 25px;
    color: #0E30C5;
    text-transform: uppercase;
}
.title-icon{
    margin-right:5px;
}
.action-item-wrapper .action-item-icon{
    left:0;
    top:0;
    width:90px;
    height:100%;
    position:absolute;
    display:block;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
}
.action-item-icon::after{
    content:"";
    display:block;
    height:100%;
    width:100%;
    opacity:1;
    background:rgba(0,0,0,0.2);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.action-item-icon:hover::after{
    opacity:0;

}

.action-item-wrapper nav {
    font-size: 1em;
    line-height: 1.5;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:90px;
    background-color:#fefefe;
    overflow:hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
   
}
.action-item-wrapper nav dl {
    display:inline-block;
    min-height:100%;
    margin:0;
    padding:5px 20px;
}
.action-item-wrapper nav dl dt:first-child{
    border-top: none;

}
.action-item-wrapper nav dl dt{
    padding:10px 0 10px 10px;
    position:relative;
    border-top: none;
}
.action-item-wrapper nav dl dt::after{
    content: '>';
    position:relative;
    color:#045753;
    left:5px;
    top:1px;
    font-weight:400;
    line-height:1;
    font-size:0.95em;
    -webkit-transition: left 190ms ease-out;
    -moz-transition: left 190ms ease-out;
    -o-transition: left 190ms ease-out;
    transition: left 190ms  ease-out;
}
.action-item-wrapper nav dl dt:hover::after{
    left:10px;
}
.action-item-wrapper nav dl dt a:hover {
    color: #09c;
}
.action-item-wrapper object{
    position:relative;
    padding-left:24px;
    margin:8px auto;
    width:100%;
    height:100px;
}
.action-item-wrapper address{
    font-size: 1em;
    line-height: 1.5;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:90px;
    background-color:#f9f9f9;
    overflow:hidden;
    white-space:nowrap;
    color:#045753;
    margin:0;
    padding:0;
}
.action-item-wrapper address p{
    padding:0;
    margin:9px 19px 2px 19px;
    position:relative;
    font-size:0.9em;
    line-height:1.5;
    font-weight:400;
}

.Fixed{
    position:fixed;
    opacity: 0.55;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.1, 1);

    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
}
.resources-flow-layout{
    margin: 0 -14px 0 0;
    width: 940px;
    display: block;
    z-index:2;
    position:relative;
    left:0;
}
.resources-card{
    height:320px;
    background-color:#F9F9F9;
    width:940px;
}
a.cardslide-prev{
    float:left;
    background-image:url(resources/icon/slideCard/arrowleft.svg);
}
a.cardslide-next{
    float:right;
    background-image:url(resources/icon/slideCard/arrowright.svg);
}
.cardslide-prev{
    position: absolute;
    top: 50%;
    left:0;
    margin-top:-36px;
    z-index:4;
}
.cardslide-next{
    position: absolute;
    top:50%;
    margin-top:-36px;
    z-index:4;
    right:0;
}
.cardslide-prev,.cardslide-next{
    width:20px;
    height:36px;
    text-indent:-1000em;
}
#blockTop .pagination{
    position: relative;
    width:100%;
    text-align:center;
    z-index:4;
}
#blockTop .pagination ul{
    margin:0;
}
#blockTop .pagination ul li{
    display:inline-block;
    width:12px;
    height:12px;
    text-indent:-1000em;
    margin: 0 2px;
    border-radius: 6px;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in
}
#blockTop .pagination ul li.active{
    background-color:#33c11f;
}
#blockTop .pagination ul li[class=""]:hover{
    background-color:#aaa;
}
.card-col{
    width:481px;
    display:inline;
    float:left;
    margin-left:10px;
    margin-right:10px;
}
.capture-col{
    margin-top: 0px;
    width: 340px;
    display:inline;
    float: left;
    margin-left:20px;
    margin-right:10px;
    padding-left:40px;
}
.capture-col h3 {
    font-family: 'Lobster',cursive,'Roboto','Open Sans',sans-serif;
    color: hsl(8,70%,44%);
    font-size: 2.7em;
    font-weight:400;
    margin: 21px 0 14px 0;
    letter-spacing:3px;

}
.capture-col p{
    margin: 10px 0;
}
a.link-button{
    color:#fff;
    background-color:hsl(196,44%,50%);
    white-space:nowrap;
    display: inline-block;
    min-width: 54px;
    outline:0;
    padding:8px 15px;
    font-size:1.3em;
    font-weight:500;
    line-height:1.4;
    text-align: center;
    cursor:pointer;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s background-color ease-in-out;
    -moz-transition: .2s background-color ease-in-out;
    -o-transition: .2s background-color ease-in-out;
    transition: .2s background-color ease-in-out;
}
a.link-button:hover{
    background-color:hsl(196,48%,29%);
}
body .chapter .chapter-title,body .chapter .article-title{
    color: #C13B3B;
}
.chapter{
    font-family: "RobotoDraft","Roboto",sans-serif;
    -webkit-font-smoothing: antialiased;
}
.clear-fix::before{
    content: " ";
    display: table;
}
.clear-fix::after {
    clear: both;
    content: " ";
    display: table;
}

.chapter .chapter-title {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: "RobotoDraft", "Roboto", sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.chapter .chapter-intro{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 0 38px 40px 0;
    width: 960px;
}
.chapter .article::before{
    content: " ";
    display: block;
    height: 48px;
    margin-top: 0;
    visibility: hidden;
}

.chapter .article:nth-of-type(1) .article-title{
    border-top: none;
    padding-top: 48px;
 }

.chapter .article-title{
    border-top: 1px solid rgba(0,0,0,0.12);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 80px;
}

.module-list, .module-list section:last-child {
    margin-bottom: 0;
    width: 100%;
}

.moduleA1{
    border: none;
    display: inline-block;
    margin: 0 auto 40px;
    padding: 0;
    padding-bottom:40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.moduleA1 div.module-body{
    margin-bottom: 0;
    width: 760px;
}

.moduleA1 .module-body{
    color:#212121;
    display: inline-block;
    float: left;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    line-height: 24px;
    margin-bottom:30px;
    padding-bottom: 0;
    width: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.chapter .chapter-toc{
    border-left: 5px solid;
    border-left-color: #f3b4b4;
    padding-left: 20px;
}

.chapter .chapter-toc h1 {
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 12px;
    font-weight: 400;
    color: #757575;
}

.chapter .chapter-toc ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0px;
}
.chapter .chapter-toc li {
    font-size: 20px;
    line-height: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.chapter a{
    color: #C13B3B;
}

.mask-modal{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    opacity: 0.1;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 3;
    position: fixed;
    transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateZ(0);
}

@media screen and (max-width: 1479px){
    #side-nav {
	visibility: hidden;
	-webkit-transform: translateX(-240px);
	-moz-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	transform: translateX(-240px);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}
    .clubSandwich-button{
	display: block;
	visibility:visible;
    }
    .clubSandwich-button:focus{
        border: 0;
        outline: 0;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    }
    button::-moz-focus-inner{
	border: none;
    }
}

@media screen and (max-width:1240px){
    .header-wrapper.qp-headerfixed-active .header-title {
        font-size: 40px;
        line-height: 2.0;
    }
    .header-wrapper.qp-headerfixed-active #separetor{
        font-size:30px;
        line-height: 2.6;
    }
    .header-wrapper.qp-headerfixed-active .header-title .header-subTitle{
        font-size:26px;
        line-height: 2.9;
    }
    footer .footer-grid{
	width:760px;
    }
    #grid-cont .grid_outer {
	width: 760px;
    }
    #grid-cont #blockRight{
        display:none;
    }
    #grid-cont #blockLeft{
        width: 100%;
    }
    .chapter .chapter-intro{
	width: 760px;
    }
    .moduleA1 div.module-body{
	width: 560px;
	font-size: 14px;
    }
}
@media screen and (max-width:940px){
    .header-wrapper{
        width:760px;
    }
    .header-wrapper .logo {
        padding-right: 0;
    }
    .header-wrapper .under-block{
        width:550px;
    }
    #horizontal-nav{
        width: 407px;
    }
    .search-inner{
        width:180px;
    }
    .search form {
        width:100px;
}
    .search form input {
        width:125px;
}
    .search .right{
        left: 179px;
}
    .search:hover,.search.active{
    width:180px;
    }

}
@media screen and (max-width:760px){
    header{
	height: 168px;
	padding: 7px 16px 0;
    }
     .header-wrapper {
	padding-left: 0;
    }
     .header-wrapper .header-title{
        font-size: 2.2em;
    }
    .header-wrapper .header-logo {
    width: 150px;
    height: 140px;
    background-size:150px 140px;
    }
     .header-subTitle li::before{
    content:url("resources/icon/ulElement/discStyleSmall.svg");
    }
    .header-wrapper.qp-headerfixed-active .header-title{
	font-size: 28px;
	line-height: 1.2;
	margin-left: 10px;
    }
    .header-wrapper .header-title .header-subTitle{
    font-size: 20px;
    }
    .header-wrapper.qp-headerfixed-active #separetor{
        font-size:28px;
        line-height: 1.0;
        margin-left: 4px;
        margin-right: 4px;
    }
    .header-wrapper.qp-headerfixed-active .header-title .header-subTitle{
        font-size: 20px;
        line-height: 1.5;
    }
    .header-wrapper.qp-headerfixed-active .header-logo img {
        width:56px;
        height: 56px;
}
    #horizontal-nav{
        display: none;
        visibility: hidden;
}
    footer .footer-grid{
	position: relative;
	width: 100%;
    }
    footer .footer-L {
	height: 96px;
	width: 56px;
	z-index: 1;
    }
    footer .footer-grid .footer-grid-L {
	left: 16px;
	position: absolute;
	z-index: 1;
    }
    footer .footer-R {
	height: 96px;
	width: 100%;
	z-index: 0;
    }
    footer .footer-grid .footer-grid-R {
	right: 10px;
	position: absolute;
	width: 75%;
    }
    #grid-cont {
	padding-bottom: 0;
    }
    #grid-cont .grid_outer {
	width: 360px;
    }
    #grid-cont .chapter {
	padding-top: 60px;
    }
    .chapter .chapter-title{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 42px;
    }
    .chapter .chapter-intro{
	font-size: 20px;
	padding-right: 0;
	padding-bottom: 50px;
	width: 360px;
    }
    .chapter .chapter-toc{
	display: none;
    }
    .chapter .article:nth-of-type(1) .article-title{
	border-top: 1px solid rgba(0,0,0,0.12);
	padding-top: 15px;
    }
    .chapter .article-title {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	padding-top: 15px;
    }
    .moduleA1 div.module-body{
	width: 360px;
	margin-top: 40px;
    }
    .clubSandwich-button {
	left: 4px;
	top: 4px;
    }
}

@media screen and (max-width: 580px){
    .header-wrapper .header-title{
	width:100%;
    }
     .header-wrapper .header-title span br{
        display: block;
    }
     .header-wrapper .header-title .header-subTitle{
        display: none;
    }
    .header-wrapper.qp-headerfixed-active #separetor{
        display: none;
    }
    .header-wrapper.qp-headerfixed-active .header-title .header-subTitle{
        display: block;
        padding-left: 3px;
        clear: left;
    }
    #grid-cont .grid_outer {
	width: 100%;
    }
    .chapter .chapter-title{
	margin-bottom: 54px;
	line-height: 24px;
	padding-left: 10px;
    }
    .chapter .chapter-intro{
	padding-bottom: 60px;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
    }
    .chapter .article:nth-of-type(1) .article-title{
	border-top: 1px solid rgba(0,0,0,0.12);
	padding-top: 15px;
    }
    .chapter .article-title {
	line-height: 20px;
	padding-bottom: 8px;
	padding-left: 10px;
    }
    .moduleA1 div.module-body{
	width: 100%;
	margin-top: 40px;
	padding-left:10px;
	padding-right:10px;
    }
}
@media screen and (max-width: 385px){
    header {
        height: 140px;
        padding: 30px 15px 0;

}
    .header-wrapper .header-logo {
    width: 100px;
    height: 100px;
    background-size: 95px 90px;
}
    .header-wrapper .header-title{
        font-size: 20px;
    }
    .header-wrapper.qp-headerfixed-active .header-title .header-subTitle{
        font-size: 12px;
}
}
@media screen and (min-width:1480px){
    .clubSandwich-button {
	display: none;
    }
}
