.studio90-header {
  position: relative;
  background-image: url(../images/header-bg.jpg);
}

.studio90-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.studio90-header .mdl-layout__title {
  text-align: center;
  font-size: 14;
  font-weight: 300;
}

.studio90-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

.studio90-logo-row {
  min-height: 200px;
}

.studio90-navigator-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.studio90-logo {
  background: url(../images/header-studio90srsl.svg) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.is-compact .studio90-logo {
  height: 60px;
  width: 60px;
  margin-top: 7px;
}

.is-compact .studio90-logo-row {
  min-height: auto;
}

.studio90-grid {
  max-width: 900px;
  margin: auto;
}

.studio90-button-social {
  font-size: 20px;
}

.studio90-copyright {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.studio90-logo-footer {
  background: url(../images/Logo90w.svg) 50% no-repeat;
  background-size: cover;
  width: 100px;
  height: 20px;
}

.studio90-icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: relative;
  fill: currentcolor;
}

.studio90-footer__right-section a {
  margin-left: 0;
}

.studio90-footer__icon {
  height: 24px;
  width: 24px;
}

.studio90-icon_sermetra {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -8.6px -131px;
}

.studio90-icon_unasca {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -9.9px -169.9px;
}

.studio90-icon_cna {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -9.9px -206px;
}

.studio90-icon_mctc {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -6.6px -241px;
}

.studio90-icon_generali {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -1.3px -30px;
}

.studio90-icon_bali {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -4.6px -60px;
}

.studio90-icon_motocentromarconi {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -1.2px -94px;
}

.studio90-icon_you-service {
  background-image: url("../images/icon/partnship/friendLogo.png");
  background-position: -1.2px 4px;
}
