html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--mdc-typography-font-family);
  font-size: var(--mdc-typography-body1-font-size);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --mdc-typography-font-family: "Sans", sans-serif;
  --mdc-typography-body1-font-size: 1.2rem;
  --mdc-typography-headline1-font-size: 3.2rem;
  --mdc-typography-headline1-font-weight: 300;
  --mdc-typography-headline4-font-size: 1.76rem;
  --mdc-typography-headline4-font-weight: 300;
}
